.product {
    display: flex;
    flex-direction: column;
}

.product-card {
    display: flex;
    flex-direction: column;
    height: 250px;
}

.product-title {
    height: 50px;
    background-color: silver;
}

.product-image {
    height: 150px;
    width: 150px;
}